<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2 text-center">
      <button type="button"
              class="btn btn-success">
        <i class="bi bi-plus-lg"> Agregar cartilla</i>

      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3">
      <app-bingo-card [cardNumber]="7"></app-bingo-card>
    </div>

    <div class="col-md-3">
      <app-bingo-card [cardNumber]="7"></app-bingo-card>
    </div>
    <div class="col-md-3">
      <app-bingo-card [cardNumber]="7"></app-bingo-card>
    </div>
    <div class="col-md-3">
      <app-bingo-card [cardNumber]="7"></app-bingo-card>
    </div>
  </div>

</div>
