<div class="card">
  <div class="card-header text-center">
    <b class=""> Cartilla N° {{cardNumber}}</b>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <caption>Usuario daniel</caption>
        <thead>
        <tr>
          <th class="text-center">B</th>
          <th class="text-center">I</th>
          <th class="text-center">N</th>
          <th class="text-center">G</th>
          <th class="text-center">O</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center" style="background: rgba(163,255,51,0.6)">7</td>
          <td class="text-center">7</td>
          <td class="text-center">7</td>
          <td class="text-center">7</td>
          <td class="text-center">7</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
